@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-02-22 15:31:14
 * @version $Id$
 */
 body{
    position: relative;
    height: auto;
 }
 a{
text-decoration:none;
}

#content{
    margin-top: 62px;
    position: relative;
    width: 100%;
    height: auto;

}
#content1{
    position: relative;
    height: 70px;
    background-color: gray;

}

#navigator a{
    color: white;
}

#navigator{
    font-family: "Arial","Hiragino Sans GB","Helvetica", "sans-serif";
    height: auto;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    border-width: 1px 0px;
    top:0px;
    left: 0px;
    text-align: center;
}
#flash_msg{
    background-color: yellow;
    position: relative;
}
#menu{
    width: 100%;
    height: 60px;
    background-color:orangered;
    position: relative;
    color: white;
}
.center{
    width: 1200px;
    margin: 0 auto 0 auto;
}

#center_menu{
    height: 60px;
    overflow: hidden;
    width: 1200px;
    /*background-color: navy;*/
    position: relative;
}

#menu_left{
    float: left;
    height: 60px;
    position: relative;
    width: auto;
}

#logo_img{
    height: 30px;
    margin-top:15px;
    width:168px;
    float: left;
    margin-right: 10px;
}
#entrance{
    float: left;
    height: 60px;
    width: 300px;
    position: relative;
    font-size: 17px;
    display: inline;
    line-height: 60px;
}

#entrance a{
    height: 60px;
    width: 75px;
    display: block;
    float: left;
    margin-left: 10px;

}

#entrance   a:hover{
    background-color: deepskyblue;
}

#menu_right{
    float: right;
    line-height: 30px;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    padding: 15px 0 15px 0;
}
#user_ctrl{
    height: 30px;
    width: 30px;
    float: right;
}

#word_ctrl{
    width: 350px;
    height: 30px;
    line-height: 30px;
    float: right;
    text-align: center;
    margin-right: 5px;
    overflow: hidden;
    top:0px;

}

#word_ctrl a{
    font-size: 15px;
    height: 30px;
    width: 75px;
    float: right;
}
#word_ctrl a:hover{
    color: deepskyblue;
}
#search_pannel{
    width: 300px;
    height: 30px;
    line-height: 30px;
    float: right;
    position: relative;
    background-color: white;
    border: 1px solid deepskyblue;
}
.search_select{
    width: 60px;
    height: 30px;
    line-height: 30px;
    float: left;
    color: gray;
    border-style: none;
    outline: none;
}
.search_input{
    width: 187px;
    height: 26px;
    line-height: 30px;
    float: right;
    border-style: none;
    outline: none;
}
#search_submit{
    width: 50px;
    height: 30px;
    float: right;
    color: white;
    background-color: deepskyblue;
}
#input_note{
    position: absolute;
    color: gray;
    line-height: 30px;
    cursor: text;
    font-size: 14px;
}
