{% extends "base.html"%}
{%block title%}
搜索结果
{%endblock%}
    <!-- href="/static/style.css" 表示网站根目录下的文件 -->
    <!-- href="static/style.css" 表示网站当前域名下的文件，比如当前域名是127.0.0.1/test/login/, 网页检索静态文件是的域名将会是127.0.0.1/test/login/static/style.css。所以当要引用根目录下的静态文件时，href前的单斜杠是必须要的 -->
{%block stylesheet%}
<link rel="stylesheet" type="text/css" href=""/>
{%endblock%}
{%block content%}
    <div id="allcontent">
        <div id="content_center" class="center">
            <div class="search_container">
                <div class="search_summary">
                    <div class="search_navigator">
                        <a href="/index">首页 </a>
                        <span class="resut_notice"> > 搜索结果</span>
                    </div>
                    <div class="search_result">
                        <div>共有<span>{{ course_count }}</span>门与<span>{{ text }}</span>相关的课程</div>
                        </div>
                </div>
                <div class="inx_course_view search_course_view">
                       {% for course in courses %}
                        <div class="inx_course_item" id="{{ course.id}}">
                            <a href="/course/{{ course.id }}" target="_blank">
                            <div style="overflow: hidden;">
                                <div class="inx_course_pic" >
                                <img class="inx_img" src="{{ course.item_image }}" width="260px" height="146px"></img></div>
                            </div>
                            <div class="inx_course_title">
                                {{ course.title }}
                            </div>
                            <div class="inx_course_user">{{ course.users.name}}</div>
                            </a>
                        </div>
                        {% endfor%}
                </div>
            </div>
        </div>
    </div>
{%endblock%}