@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-02-22 15:31:14
 * @version $Id$
 */
 body{
    position: relative;
    height: auto;
    margin: 0 0 0 0;
    font-size: 14px;
    color: black;
    border-collapse:collapse;
    font-family: "微软雅黑";
 }
 label{
    cursor: text;
 }
 a{
text-decoration:none;
}
ul{list-style-type: none;}
input, textarea,select, button{
    font-family: "微软雅黑";
}

.white{color: white;}
.c_center{text-align: center;}
.f_left {position: relative;float: left;}
.f_right {position: relative; float: right;}
html{
	background-color: ;
}
#allcontent{
    position: relative;
    top: 60px;
    width: 100%;
    height: auto;
}
#navigator{

    height: auto;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    border-width: 1px 0px;
    top:0px;
    left: 0px;
    text-align: center;
    z-index: 999;
}
#flash_msg{
    background-color: yellow;
    position: relative;
}
#menu{
    position: relative;
    width: 100%;
    height: 60px;
    background-color:#00806E; /* #00806E */
    position: relative;
    color: white;

}
.center{
    position: relative;
    width: 1200px;
    margin: 0 auto 0 auto;

}

#center_menu{
    height: 60px;
    width: 1200px;
    /*background-color: navy;*/
    position: relative;

}

#menu_left{
    float: left;
    height: 60px;
    position: relative;
    width: auto;
}

.hide{
    display: none;
    position:absolute;
    right: 0;
    width: 140px;
    z-index: 999;
    color: dimgray;
    border: 1px solid lightgray;
    background-color: white;
    font-size: 12px;

}
.head_pic:hover .hide{ display: block; }
.hide_menu a{
    display: block;
    color: gray;
    margin-left: 10px;
}
.hide_menu{
    list-style-type: none;
    margin:0;
    padding: 0;
}
.hide_menu li{
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align: left;
}

.hide_menu li:hover{
    background-color: whitesmoke;
}
#logo_img{
    /*height: 30px;
    margin-top:15px;*/
    position: relative;
    overflow: hidden;
    text-align: left;
    font-size: 23px;
    min-width:200px;
    float: left;
    margin-right: 10px;
}
#logo_img img{
    height: 30px;
    width: 30px;
}
#logo_img a{
    display: block;
    line-height: 30px;
}
.logo_mar{
    position: relative;
    margin-top: 15px;
}
#entrance{
    float: left;
    height: 60px;
    width: 300px;
    position: relative;
    font-size: 17px;
    display: inline;
    line-height: 60px;
}
#entrance a{display: block;}
#ac_btn:hover div{
    display: block;
}
.ac_menu{background-color: #d2f0ee;color: white;position: absolute;display: none;}
.ac_menu ul{margin: 0;list-style-type: none;padding: 0;width: 100px;}
.ac_menu a{color: gray;display: block;}
.p_li:hover ul{display: block;}
.subul {position:absolute;background-color: #d2f0ee;padding: 0;left:100px; top:0px; display: none;}
.subul li:hover a{color: white;background-color:#00806E; }
.site_nav{height: 60px;width: 100px;}
.p_li{position: relative;height: 30px;line-height: 30px;}
.p_li:hover{background-color: rgba(32,178,170,0.2);}
.site_nav:hover{background-color: lightseagreen;cursor: pointer;}

.recommend:hover .nav_menu{display: block;}
.nav_menu{background-color: #d2f0ee;color: white;position: absolute;display: none;}
.nav_menu ul{margin: 0;list-style-type: none;padding: 0;width: 100px;}
.nav_menu a{color: gray;display: block;}
.nav_p_li{position: relative;height: 30px;line-height: 30px;}
.nav_p_li:hover{background-color: rgba(32,178,170,0.2);}
#menu_right{
    position: relative;
    float: right;
    line-height: 30px;
    position: relative;
    font-size: 15px;
    padding: 15px 0 15px 0;

}
#user_ctrl{
    height: 30px;
    width: 30px;
    float: right;
    z-index: 5;
}

#word_ctrl{
    min-width: 280px;
    height: 30px;
    line-height: 30px;
    float: right;
    text-align: center;
    margin-right: 5px;
    overflow: hidden;
    top:0px;

}
#word_ctrl ul{
    list-style-type: none;
    display: inline;
}
#word_ctrl li{
    font-size: 15px;
    height: 30px;
    width: 75px;
    float: right;
}
#word_ctrl a:hover{
    color: lightseagreen;
}
#search_pannel{
    width: 300px;
    height: 30px;
    line-height: 30px;
    float: right;
    position: relative;
    background-color: white;

}
.search_help{display:none;position: absolute;background-color: white;width: 300px;height: auto;top:30px;}
.search_help a:hover{background-color: lightgray;color:#00806E;}
.search_help ul{margin:5px 0 5px 0;padding: 0;text-align: left;}
.search_help a{padding-left: 60px;display: block;overflow: hidden;color: dimgray;height: 30px;}
#search_pannel:hover .search_help{display: block;border-top:1px solid #00806E;}
.search_select{
    width: 60px;
    height: 30px;
    line-height: 30px;
    float: left;
    color: gray;
    border-style: none;
    outline: none;
    cursor: pointer;
    
}
option:hover{color: lightseagreen;}
.search_input{
    width: 187px;
    height: 30px;
    line-height: 30px;
    float: right;
    border: none;
    outline: none;
    padding:0;
    color: gray;
}
#search_submit{
    width: 50px;
    height: 30px;
    float: right;
    color: white;
    background-color: lightseagreen;
    cursor: pointer;
    border: none;
    padding: 0;
}
#search_submit:hover{
    background-color: rgba(32,178,170,0.8);
}
#input_note{
    position: absolute;
    color: gray;
    line-height: 30px;
    cursor: text;
    font-size: 13px;
}

#about_center{
    width: 1200px;
    margin:0px auto 0px auto;
    background-color: white;
    position: relative;
    white-space: pre-wrap;
    min-height: 600px;
    top: 20px;
    font-size: 20px;
 }
 
/* style of footer */
.c_footer{color:black;position:relative;margin-top: 60px;width:100%;background-color: #00806E;overflow: hidden;}
.site_desc{margin-top:20px;overflow: hidden;}
.site_info{width: 400px;margin-top: 5px;}
.site_contact_info{margin-top: 50px;}
.copyright{position: relative;bottom: 10px;}
.site_address span{ line-height: 30px; }
.copyright a{color: white;}
.copyright span{color: white;}


 /* style of course page */
.bgwhite{
    background-color: white;
    border: 1px solid lightgray;
}
.course_page{
    overflow: hidden;
}
.course_info{
    position: relative;
    width: 1160;
    height: 250px;
    padding: 20px;
}
.course_img{
    position: relative;
    float: left;
    height: 300px;
    width: 444px;
}

.course_info_right{
    position: relative;
    width: 600px;
    height: 300px;
    float: left;
    margin-left: 15px;
}
.course_score div{
    position: relative;
    margin-right: 15px;
    color:darkgray;
    font-size: 14px;
    float: left;
}
.course_collect{
    float: right;
}
.course_collect a{
    display: block;
    height: 30px;
    line-height: 30px;
    width: 70px;
    text-align: center;
    border: 1px solid lightgray;
    color: gray;
    font-size: 13px;
}

a.added {
   color: #00806E;
   background-color: lightgray;
}
.course_collect a:hover{
    color: #00806E;
    background-color: lightgray;
}

.progress{
    position: relative;
    margin-top: 20px;
    height: 60px;
    width: 100%;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    padding-top:35px; 
}

.pbar{
    height: 15px;
    width: 100%;
    background-color: #00806E;
}
.notice{
    position: relative;
    margin-top: 25px;
}

.catalog{
    width: 100%;
    height: auto;

}

.catalog_title span{
    font-size: 30px;
    color: gray;
}

.lesson_items{
    margin-top: 15px;
    padding-bottom: 30px;
}
.lesson{
    position: relative;
    overflow: hidden;
}

.lession_guide{
    margin-left: 15px;
}
.lesson a{
    height: 36px;
    line-height: 36px;
    display: block;
    cursor: pointer;
    color: dimgray;
    font-weight: 500;
}
.lesson a:hover{
    background-color: lightgreen;
}

.lesson_progress{
    position: relative;
    float: right;
    margin-right: 10px;
    white-space: pre;
}
.course_navigator{
    position: relative;
    height: 50px;
    line-height: 50px;
    width: 100%;
    float: left;
}
.course_navigator a{
    position: relative;
    text-align: center;
    display: block;
    font-size: 18px;
    color: black;
    height: 50px;
    width: 75px;
    cursor: pointer;
    float: left;
}

.course_selected{
    background-color: #00806E;
    color: white;
}
.course_main_content{
    margin-top: 20px;
    position: relative;
    float: left;
    width: 100%

}
.course_navigator a:hover{
    color: lightseagreen;
}
.course_detail{
    position: relative;
}
.course_content_left{
    position: relative;
    width: 880px;
    float: left;
    min-height: 300px;
}

.course_content_right{
    position: relative;
    width: 300px;
    float: right;
    height: auto;
}

.course_rate_title{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-bottom: solid 1px lightgray; 

}
.user_rate_area{
    position: relative;
    height: 165px;
    overflow: hidden;
}
.user_rate_margin{
    margin-left: 10px;
}
.star_area{
    position: relative;
    height: 35px;
    padding-top: 10px;
}
.comment_text_area textarea{
    width: 270px;
    height: 80px;
    padding: 0;
}
.course_func{
    line-height: 30px;
}
.comment_submit{
    margin-top: 5px;
    position: relative;
    float: right;
    margin-right: 20px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 55px;
    background-color: #00806E;
    color: white;
    font-size: 16px;
    cursor: pointer;

}
.rate_title{
    position: relative;
    float: left;

}
.my_rate{
        white-space: nowrap;
    }

.comment_rate{
    margin-top: 6px;
    overflow: hidden;
}
.comment_rate div{
    position: relative;
    float: left;
}
.commentList li{
    list-style-type: none;
    margin-top: 10px;
}
.commentList ul{
    padding: 0 10px 0 10px;
}
.commentList a{
    position: relative;
    display: block;
    height: 30px;
    float: left;
    margin-right: 7px;
}
.userArea span{
    float: right;
}
.commentItem{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 25px;
}
.userArea{
    height: 30px;
    line-height: 30px;
}
.contentArea{
    margin-top: 15px;
    line-height: 20px;
}
.img{
    width: 30px;
    height: 30px;
}

.more_rates{
    text-align: center;
    color: gray;
}

.inprogress{
    color: #00806E;
}
/* style of index page*/

.index{
    position: relative;
    background-color: white;
    height: auto;

}
.beauty_pic img{ width:1200px;height:350px;}
.indexContainer{
    position: relative;
    overflow: hidden;
}
.inx_course_view{
    position: relative;
    margin-top: 30px;
    width: 1200px;
    overflow: hidden;
}
.inx_course_item{
    position: relative;
    width: 214px;
    height: 190px;
    float: left;
    margin-right: 25px;
    margin-top: 10px;
    cursor: pointer;
    overflow: hidden;
    background-color: white;
    
}
.inx_img{
    width: 214px;
    height: 120px;
}
.course_text_info{
    margin-left: 5px;
}
.inx_course_title{
    color: dimgray;
    margin-top: 2px;
    height: 40px;
    line-height: 18px;
}
.inx_course_user{
    margin-top: 2px;
    color: darkgray;
    font-size: 13px;
}
.record_view{
    width: 1220px;
    min-height: 500px;
}
div.inx_course_title:hover{
    color: #00806E;
}
.inx_course_pic{
    transition:width 1s, height 1s,transform 1s;
}
/* 覆盖的时候宽高放大1.3倍*/
div.inx_course_pic:hover{
    transform:scale(1.3,1.3);
}

.category_name{
    font-size: 24px;
    color: black;

}
.more{
    font-size: 12px;
    color: gray;
}

/* the style of search page */
.search_container{
    background-color: white;

}

.search_summary{

    background-color: whitesmoke;
}
.search_navigator{
    height: 50px;
    width: 100%;
    line-height: 50px;

}
.search_navigator span{
    color: gray;

}
.search_navigator a{
    color: black;
}

.search_result{
    background-color: white;
    padding-top: 30px;
}
.search_result div{
    position: relative;
    margin-bottom: 0px;
    line-height: 40px;
    font-size: 20px;
    height: 40px;
    color: gray;
}
.search_course_view{
    min-height: 500px;
    width: 1220px;
}
.search_result span{
    color: black;
}

/* style of category */

.category_pic img{
    width: 1170px;
    height: 325px;
}
.contentPage{
    margin-top: 30px;
    position: relative;
    height: 50px;
    width: 100%;
}

.pnav{
    width: 65px;
    height: 32px;
}
.pagenum{
    height: 32px;
    width: 32px;

}
.pbtn{
    position: relative;
    float: left;
    line-height: 32px;
    text-align: center;
    border: 1px solid gray;
    margin-right: 5px;
    background-color: lightgray;
    color: black;
}

.pageSelected{
    color: #00806E;
    background-color: white;
}

.disabled{
    color:gray;
}
.no_content{line-height: 100px;font-size: 25px;text-align: center;color: gray;}
/* style of course record */

.course_summary{
    
    background: linear-gradient(to right,#00806E, #99E2D8 );
}

.course_jitang{
    height: 100px;
    line-height: 100px;
    color: white;
    font-size: 16px;
}
.record_nav{
    background-color: white;
    height: 60px;
    width: 100%;
}
.my_course{
    padding-left: 0px;
    font-size: 20px;
    overflow: hidden;
    
}

.btn_nav{
    display: block;
    height: 60px;
    width: 100px;
    float: left;
    line-height: 60px;
    text-align: left;
    color: black;
    
}

.btn_selected{
    color: #00806E;
    border-bottom: 3px solid #00806E;
}


/* style of login page*/
.logintitle{
    position: relative;
    height: 70px;
    width: 100%;
    overflow: hidden;
}

.logintitle_sub{
    position: relative;
    float: left;
    height: 70px;
    line-height: 70px;
}
.greeting_word{
    font-size: 30px;
    color: #00806E;
}

#login_content{
    min-height: 500px;
    width: 100%;
    background-color: rgba(0,128,110,0.2);
    background: url(/static/images/yishujia.png);
    background-position: center;
    background-size: 100% 100vh;
}
div.shuru
{
    margin-top: 30px;
    position:relative;
    float: right;
    border-color:gray;
    background-color: white;
    min-width:430px;
    height:400px;
    border: 1px solid lightgray;
}
.shuru table{
    border-collapse:separate;
 }
td.t_title{
    text-align: right;
    color: #00806E;
 }
tr.tr_input{
    border-spacing: 15px;
    line-height: 44px;
 }
.shuru_title{
    text-align: center;
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    border-bottom: 1px solid lightgray;
    color: #00806E;
    margin-bottom: 5px;
    font-weight: 600;
}
.login_form{
    padding-left: 30px;
}
div.tt{
    margin-right: 5px;
    font-size: 18px;
}
.input_note{;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    margin-bottom: 5px;
}
.warning_note{

    border: 1px solid red;
    color: red;
    background-color: #ffebeb;
}
div.zhuce{
width:500px;
height:50px;
position:absolute;
}
#input_verify_code
{
    width:190px;
    height:30px;
    font-size:14px;
    font-weight:500;
    font-color:gray;
    margin-top:20px;
    margin-left:100px;
}

.input_elem
{
    position: relative;
    height: 40px;
    font-size:14px;
    font-weight:500;
    float: left;
    border: none;
    padding: 0;
}
.label_input{
    position: absolute;
    color: gray;
    left: 3px;
    height: 40px;
    line-height: 40px;
}
.div_ctrl{
    position: relative;
    border: 1px solid gray;
}
.ewidth{
    width:340px;
}
.below_input{
    margin-top: 25px;
}
#btn_auth_code
{
    width:100px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-color:gray;
    border: 1px solid;
    background-color: #00806E;
    cursor: pointer;
    color: white;
    text-align: center;
    /*margin-left:10px;*/
}
#input_auth_code{
    width: 220px;
}
.login_nav{
    height: 40px;
    line-height: 40px;
}
.forget_pwd{
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.btn_submit{
    background-color: #00806E;
    color: white;
    font-size: 25px;
    letter-spacing: 20px;
    text-indent: 30px;
    text-align: center;
    cursor: pointer;
}
.forget_pwd a{
    color: dimgray;
}

/* style of signup page*/
.shuru_signup{
    margin-top: 30px;
    width: 400px;
    height: 450px;
    background-color: white;

}
.login_nav a{
    color: #00806E;
}

/* style of course_manage */
.course_manage{background-color: white;}
.manage_info{line-height: 50px;overflow: hidden;background-color: white;}
.manage_info_title{font-size: 20px; line-height: 30px;}
.manage_info_desc{font-size: 12px;margin-left:10px;color: gray;line-height: 30px;}
.manage_nav{height: 30px;border-top: 1px solid lightgray;}
.manage_nav ul{list-style-type: none;margin: 0; padding: 0;}
.manage_nav li{position: relative; float: left;margin-right: 10px; background-color: #00806E; padding: 0 5px 0 5px;cursor: pointer;color: white;}
.manage_nav a{color: white;}
.manage_menu{height: 20px;line-height: 20px;margin-top:10px;}
.manage_nav li:hover{color: red;}
.course_display{margin-top:5px; }
.course_table{overflow:hidden; min-height:500px}
.course_table table{width: 1200px;}
.td_checkbox{text-align: left;width: 20px;}
.td_title{text-align: left;}
.course_table tr {height: 20px; line-height: 20px;}
.course_table td{text-align: left;color: gray;overflow: hidden;}
th{border-bottom: 1px solid lightgray;}
.mi_nav{color: gray}
.mi_nav a{color: #00806E;}
/* style of low_layer*/

.low_layer{position: absolute;top: 0;bottom: 0;width:100%; z-index: -999;background-color: lightgray;background: rgba(211,211,211,0.7)}
.course_update{width: 700px;height: 630px;margin-top:20px;margin-left: auto;margin-right:auto;background-color: white}
.op_title{height: 25px;font-size: 20px;text-align: center;color:white;line-height: 25px;font-weight: bold;background-color: #00806E}
td.title{text-align: right;padding: 0px 15px 0 0;width: 90px;color: gray;}
td{vertical-align: top;}
.cm_elem{height: 25px; width: 320px;}
.course_edit table{border-spacing: 20px}
.img_upload{margin-left: 10px;}
.img_input{margin-top: 5px;}
.imgChange{
    background-color: #00806E;
    width: 80px;
    height: 30px;
    color: white;
    font-size: 14px;
    text-align: center;
    border-style: none;
    cursor: pointer;
}
.course_edit textarea{width: 480px;height: 240px;}
.couse_update_submit{border-top: 1px solid #eaeaea;background-color: #fbfafa;height: 60px;}
.m_btn_submit{height: 30px;width: 65px;background-color: #00806E;color: white;line-height: 30px;text-align: center;margin-left: 140px;margin-top: 10px;cursor: pointer;}
.close{color: white;width: 25px;height: 25px;line-height: 25px;font-size:20px;text-align: center;cursor: pointer;background-color: gray;}
.close:hover{color: red;}
.img_display{background: url('/static/images/course160x90.png');background-size: 100% 100%;}
.img_display img{width: 240px;height:135px;}
.img_display video{width: 240px;height:135px;}
.warn_note{color: red;}
.course_edit select{width:80px;}
/* style of find password */
.fp_title{height: 50px;font-size: 20px;line-height: 50px;}
.fp_content{width: 400px;height: 300px;margin-left: auto;margin-right: auto;margin-top: 20px;overflow: hidden;}
.fp_steps{margin-left: 30px;color: lightseagreen;}

/* style of change password page*/
.cp_input{
    margin-top: 15px;
    width: 400px;
    height: 450px;
    background-color: white;


}
.cp_title{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-bottom:1px solid lightgray
}
/* style of user page*/
.user_base{overflow: hidden;}
.user_base_info{text-align: center;height: 200px;background-color: whitesmoke;overflow: hidden;}
.ub_head{margin-top: 20px;}
.user_other{margin-top:20px;height: 550px;background:url('/static/images/user_intro.jpg') no-repeat center;background-size:contain;border: 1px solid lightgray}

/* style of lesson_manage page*/
.progress_text{color: lightseagreen;margin-top: 10px;}
.item_image{width: 100%;}
.item_image img{width: 320px;height: 180px;}
.ii_image{width: 340px;}
.course_status{color: #00806E;line-height: 30px;}
.c_desc{line-height: 16px;overflow: hidden;width: 860px;}
.lesson_info_title{font-size: 20px;}
.lesson_info_desc{width:860px;line-height: 23px; margin-top: 5px;overflow: auto}
.l_desc{max-width:350px;min-height:15px;max-height:45px;overflow: auto;line-height: 15px;}
.l_url{max-width: 150px;height: 40px;line-height: 15px;}

/* style of recommend page*/
.r_item_image img{width: 1200px;height:360px;}
.r_item{position:relative;padding-bottom: 25px;}
.r_desc{line-height: 40px;color: black;}
.r_item_title{color: #0a0b0b;margin-bottom:6px;font-size: 20px;}
.c_recommend{margin-top: 20px;}
.r_item:hover div {color: #00806E}