/* video container */
a{
	text-decoration:none;
}

.lessonBox{
	position: absolute;
	top:0px;
	left: 0px;
	bottom: 0px;
	right: 340px;
	background-color: dimgray;
	font-weight: 600;
}
.lessonBox a{
	color: azure;
	font-size: 14px;
	font-weight: 800;
}
.lessonBox a:hover{
	color: navy;
}
.toCoursePage{
	position: relative;
	top: 0;
	padding-top: 10px;
	height: 70px;
}
.toCoursePage div{
	position: relative;
	margin-top: 0px;
	left: 20px;

}
.lessonOrder{
	display: block;
	width: 55px;
	float: left;
	font-size: 16px;
	color:white;
	background:orange; 
	padding: 0 10px 0 10px;
	margin-right: 20px;
	box-shadow: 5px 5px 3px white;
}

.lessonGuide{
	position: absolute;
	left: 20px;
	height: 50px;
	bottom: 0px;
}
#adaptiveBox{
	position: absolute;
	background:#000;
	left: 20px;
	right: 20px;
	top: 78px;
	bottom: 60px;
	cursor: pointer;

}
.videoContainer{
	width: 100%;
	height: 100%;
	position:relative;
	overflow:hidden;
	background:#000;
	color:#ccc;
}
/* video caption css */
.caption{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding:10px;
	color:#ccc;
	font-size:20px;
	font-weight:bold;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #1F1F1F; /* fallback */
	background:-moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
}

/*** VIDEO CONTROLS CSS ***/
/* control holder */
.control{
	background:#333;
	color:#ccc;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:5;
	display:none;
}
/* control top part */
.topControl{
	height:11px;
	border-bottom:1px solid #404040;
	padding:1px 5px;
	background:#1F1F1F; /* fallback */
	background:-moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
}
/* control bottom part */
.btmControl{
	clear:both;
	background: #1F1F1F; /* fallback */
	background:-moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
}
.control div.btn {
	float:left;
	width:38px;
	height:30px;
	padding:0 5px;
	border-right:1px solid #404040;
	cursor:pointer;
}
.control div.text{
	font-size:12px;
	font-weight:bold;
	line-height:30px;
	text-align:center;
	font-family:verdana;
	width:20px;
	border:none;
	color:#777;
}
.control div.btnPlay{
	background:url(/static/images/videoplayer/control.png) no-repeat 0 0;
	border-left:1px solid #404040;
}
.control div.paused{
	background:url(/static/images/videoplayer/control.png) no-repeat 0 -30px;
}
.control div.btnStop{
	background:url(/static/images/videoplayer/control.png) no-repeat 0 -60px;
}
.control div.spdText{
	border:none;
	font-size:14px;
	line-height:30px;
	font-style:italic;
}
.control div.selected{
	font-size:15px;
	color:#ccc;
}
.control div.sound{
	background:url(/static/images/videoplayer/control.png) no-repeat -88px -30px;
	border:none;
	float:right;
}
.control div.sound2{
	background:url(/static/images/videoplayer/control.png) no-repeat -88px -60px !important;
}
.control div.muted{
	background:url(/static/images/videoplayer/control.png) no-repeat -88px 0 !important;
}
.control div.btnFS{
	background:url(/static/images/videoplayer/control.png) no-repeat -44px 0;
	float:right;
}
.control div.btnLight{
	background:url(/static/images/videoplayer/control.png) no-repeat -44px -60px;
	border-left:1px solid #404040;
	float:right;
}
.control div.lighton{
	background:url(/static/images/videoplayer/control.png) no-repeat -44px -30px !important;
}

/* PROGRESS BAR CSS */
/* Progress bar */
.progress {
	width:85%;
	height:10px;
	position:relative;
	float:left;
	cursor:pointer;
	background: #444; /* fallback */
	background:-moz-linear-gradient(top,#666,#333);
	background:-webkit-linear-gradient(top,#666,#333);
	background:-o-linear-gradient(top,#666,#333);
	box-shadow:0 2px 3px #333 inset;
	-moz-box-shadow:0 2px 3px #333 inset;
	-webkit-box-shadow:0 2px 3px #333 inset;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.progress span {
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:block;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.timeBar{
	z-index:10;
	width:0;
	background: #3FB7FC; /* fallback */
	background:-moz-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
	background:-webkit-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
	background:-o-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
	box-shadow:0 0 1px #fff;
	-moz-box-shadow:0 0 1px #fff;
	-webkit-box-shadow:0 0 1px #fff;
}
.bufferBar{
	z-index:5;
	width:0;
	background: #777;
	background:-moz-linear-gradient(top,#999,#666);
	background:-webkit-linear-gradient(top,#999,#666);
	background:-o-linear-gradient(top,#999,#666);
	box-shadow:2px 0 5px #333;
	-moz-box-shadow:2px 0 5px #333;
	-webkit-box-shadow:2px 0 5px #333;
}
/* time and duration */
.time{
	width:15%;
	float:right;
	text-align:center;
	font-size:11px;
	line-height:12px;
}

/* VOLUME BAR CSS */
/* volume bar */
.volume{
	position:relative;
	cursor:pointer;
	width:70px;
	height:10px;
	float:right;
	margin-top:10px;
	margin-right:10px;
}
.volumeBar{
	display:block;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#eee;
	z-index:10;
}

/* OTHERS CSS */
/* video screen cover */
.loading, #init{
	position:absolute;
	top:50%;
	left:50%;
	width:55px;
	height:55px;
	background:url(/static/images/videoplayer/loading.gif) no-repeat 50% 50%;
	z-index:2;
	display:none;
}
#init{
	background:url(/static/images/videoplayer/bigplay.png) no-repeat 50% 50% !important;
	cursor:pointer;
}

.commentBox{
	position: absolute;
	width: 340px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: green;
	overflow: hidden;
	font-size: 14px;
	font-weight: 600;
}

.menuBox{
	height: 50px;
	width: 100%;
	line-height: 50px;
	background-color: lightgrey;
	text-align: center;
}

.sideArea{
	position: absolute;
	width:100%;
	top:50px;
	bottom: 0px;
	background-color: white;
	color: dimgray;
}

.inputBox{
	padding-top: 10px;
	width: 320px;
	height: 150px;
	margin: 0 10px 10px 10px;
}

.pageSelect{
	position: relative;
	width: 320px;
	height: 50px;
	left: 10px;
	right: 10px;

}

.menuBox a{
	display: block;
	width: 113px;
	height: 50px;
	float: left;
	font-size: 20px;
	font-weight: 900;

}
.menuBox a:active {
	background-color: dimgray;

}
.inputText{
	width: 314px;
	height: 80px;
	margin-top: 3px;

}

.vbtn{
	width: 80px;
	height: 35px;
	background-color: deepskyblue;
	color: white;
	line-height: 35px;
	text-align: center;
	font-weight: 800;
	cursor: pointer;
	float: right;
	margin-top: 3px;
}

.commentList {
	position: absolute;
	width: 100%;
	top: 200px;
	bottom: 0px;
	overflow-y: scroll;
}

.commentList li{
	list-style-type: none;
	margin-top: 10px;
}
.commentList ul{
	padding: 0 10px 0 10px;
}
.commentList a{
	position: relative;
	display: block;
	height: 30px;
	float: left;
	margin-right: 7px;
}
.userArea span{
	float: right;
}
.commentItem{
	border-bottom: 1px solid gainsboro;
	padding-bottom: 25px;
}
.userArea{
	height: 30px;
	line-height: 30px;
}
.contentArea{
	margin-top: 20px;
	line-height: 20px;
}
.img{
	width: 30px;
	height: 30px;
}

.noteArea{
	margin-top:10px;
	line-height: 12px;
	font-size: 12px;
	white-space: pre;
}

.nselected{
	background-color: white;

}
.pageSelected{
	color: blue;
}
.disabled{
	color:gray;
}