{% extends "base.html"%}
{%block title%}
资料设置
{%endblock%}
    <!-- href="/static/style.css" 表示网站根目录下的文件 -->
    <!-- href="static/style.css" 表示网站当前域名下的文件，比如当前域名是127.0.0.1/test/login/, 网页检索静态文件是的域名将会是127.0.0.1/test/login/static/style.css。所以当要引用根目录下的静态文件时，href前的单斜杠是必须要的 -->
{%block stylesheet%}
<link rel="stylesheet" type="text/css" href=""/>
{%endblock%}
{%block content%}
    <div id="allcontent">
        <div id="content_center">
            <div class="change_password center">
            <div class="cp_title">修改密码</div>
            <div class="cp_input">
            <div style="color: gray;">请注意妥善管理你的密码，避免丢失</div>
            <div class="input_note ewidth {% if msg %} warning_note{% endif %}" id="login_input_note" >{{ msg }}</div>
            <form method = 'post' enctype="multipart/form-data" action="/password/change" onsubmit="return validate_change()">
            <div class="ewidth input_elem div_ctrl below_input">
               <input id="passwd0" name="passwd0" type="password" class="ewidth input_elem" onkeydown="hideLabel('passwd0_note')"/>
                <label id="passwd0_note" class="label_input" for="passwd0">请输入当前的密码</label>
           </div>
            <div class="ewidth input_elem div_ctrl below_input">
               <input id="passwd" name="passwd" type="password" class="ewidth input_elem" onkeydown="hideLabel('passwd_note')"/>
                <label id="passwd_note" class="label_input" for="passwd">新密码，长度6至24字符</label>
           </div>
           <div class="ewidth input_elem div_ctrl below_input">
            <input id="passwd2" name="passwd2" type="password" class="ewidth input_elem div_ctrl" onkeydown="hideLabel('passwd2_note')" style="border: none;"/>
            <label id="passwd2_note" class="label_input" for="passwd2">请再次输入要设置的密码</label>
            </div>

            <div class="ewidth input_elem div_ctrl below_input">
            <input type="submit" class="ewidth input_elem btn_submit" value = "确定" />
        </div>
        </form>
    </div>
        </div>
        </div>
    </div>
{%endblock%}