{% extends "base.html"%}
{%block title%}
找回密码
{%endblock%}
    <!-- href="/static/style.css" 表示网站根目录下的文件 -->
    <!-- href="static/style.css" 表示网站当前域名下的文件，比如当前域名是127.0.0.1/test/login/, 网页检索静态文件是的域名将会是127.0.0.1/test/login/static/style.css。所以当要引用根目录下的静态文件时，href前的单斜杠是必须要的 -->
{%block stylesheet%}
<link rel="stylesheet" type="text/css" href=""/>
{%endblock%}
{%block content%}
    <div id="allcontent">
        <div id="find_password">
            <div>
                <div class="fp_title center">找回密码</div>
            </div>
            <div id="content_center" class="center">

                <div class="fp_content">
                    <div class="fp_steps"><span>请完成身份验证</span></div>
            <div class="login_form">
                <div class="input_note ewidth {% if msg %} warning_note{% endif %}" id="login_input_note" >{{ msg }}</div>
               <form method = 'post' enctype="multipart/form-data" action="/password/find" onsubmit="return validate_find()">
                    <div class="ewidth input_elem div_ctrl">
                        <input id="username" type="text" class="ewidth input_elem" name="username"  onkeydown="hideLabel('username_note')"/>
                        <label id="username_note" for="username" class="label_input">邮箱地址</label>
                    </div>
                    <div class="auth_code ewidth input_elem below_input">
                    <div class="input_elem div_ctrl">
                        <input id="input_auth_code" type="text" name="input_auth_code" class="input_elem" onkeydown="hideLabel('auth_code_note')"/>
                        </div>
                        <label id="auth_code_note" for="input_auth_code" class="label_input" >验证码</label>
                    <div id="btn_auth_code" onclick="getAuthCodeNoSignCheck('btn_auth_code')" class="f_right">获取验证码</div>
                </div>
                <div class="ewidth input_elem div_ctrl below_input">
                    <input type="submit" class="ewidth input_elem btn_submit" value = "下一步" />
                </div>
                </form>
            </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}