{% extends "base.html"%}
{% block title%}
请登录
{%endblock%}        <!-- href="/static/style.css" 表示网站根目录下的文件 -->
    <!-- href="static/style.css" 表示网站当前域名下的文件，比如当前域名是127.0.0.1/test/login/, 网页检索静态文件是的域名将会是127.0.0.1/test/login/static/style.css。所以当要引用根目录下的静态文件时，href前的单斜杠是必须要的 -->
{%block content%}
    <div id="allcontent">

        <div id="login_content">
            <div class="center">
                    <div class="shuru">
                        <div class="shuru_title">账号登录</div>
                        <div class="login_form" style="padding-left: 10px;">
                          <table>
                            <tr>
                            <td></td>
                            <td>
                        <div class="input_note ewidth {% if msg %} warning_note{% endif %}" id="login_input_note" >{{ msg }}</div>
                        </td>
                        </tr>
                        <form method='post' enctype="multipart/form-data" action="/signin" onsubmit="return validate_login()">
                          <tr class="tr_input">
                            <td class="t_title"><div class="tt">邮箱: </div></td>
                            <td>
                        <div class="ewidth input_elem div_ctrl">
            	           <input class="ewidth input_elem" type="text" id="username" name="username">
                       </div>
                       </td>
                        </tr>
            	 
                     <tr class="tr_input">
                      <td class="t_title pwd "><div class="below_input tt">密码: </div></td>
                      <td>
                       <div class="ewidth input_elem div_ctrl below_input">
            	       <input class="ewidth input_elem" id="passwd" name="passwd" type="password">
                       </div>
                       </td>
                       </tr>
                       <tr>
                        <td></td>
                        <td>
                    <div class="forget_pwd f_left"><a href="/password/find">忘记密码</a></div>
                    </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                    <div class="ewidth input_elem div_ctrl">
                    <input class="ewidth input_elem btn_submit" type="submit" value = "登录" />
                    </div>
                    </td>
                    </tr>
                    </form>
                    <tr>
                      <td></td>
                      <td>
                    <div class="login_nav f_left">没有账号？<a href="signup">立即注册</a></div>
                    </td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
  </div>
</div>
{%endblock%}