{% extends "base.html"%}
{%block title%}
找回密码
{%endblock%}
    <!-- href="/static/style.css" 表示网站根目录下的文件 -->
    <!-- href="static/style.css" 表示网站当前域名下的文件，比如当前域名是127.0.0.1/test/login/, 网页检索静态文件是的域名将会是127.0.0.1/test/login/static/style.css。所以当要引用根目录下的静态文件时，href前的单斜杠是必须要的 -->
{%block stylesheet%}
<link rel="stylesheet" type="text/css" href=""/>
{%endblock%}
{%block content%}
    <div id="allcontent">
        <div id="find_password">
            <div>
                <div class="fp_title center">找回密码</div>
            </div>
            <div id="content_center" class="center">

                <div class="fp_content">
                    <div class="fp_steps"><span>已通过验证，可以设置新密码了！</span></div>
            <div class="login_form">

                <div class="input_note ewidth {% if msg %} warning_note{% endif %}" id="login_input_note" >{{ msg }}</div>
               
                <div class="ewidth">{{ q }}</div>
               <form method = 'post' enctype="multipart/form-data" action="/password/find/reset" onsubmit="return validate_reset()">
              <div class="ewidth input_elem div_ctrl below_input">
                <input id="passwd" name="passwd" type="password" class="ewidth input_elem" onkeydown="hideLabel('passwd_note')"/>
                <label id="passwd_note" class="label_input" for="passwd">密码长度6至24字符</label>
            </div>
            <div class="ewidth input_elem div_ctrl below_input">
                <input id="passwd2" name="passwd2" type="password" class="ewidth input_elem div_ctrl" onkeydown="hideLabel('passwd2_note')" style="border: none;"/>
                <label id="passwd2_note" class="label_input" for="passwd2">请再次输入密码</label>
            </div>
                <div class="ewidth input_elem div_ctrl below_input">
                    <input type="submit" class="ewidth input_elem btn_submit" value = "提交" />
                </div>
                </form>
            </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}