{% extends "base.html"%}
{%block title%}
资料设置
{%endblock%}
    <!-- href="/static/style.css" 表示网站根目录下的文件 -->
    <!-- href="static/style.css" 表示网站当前域名下的文件，比如当前域名是127.0.0.1/test/login/, 网页检索静态文件是的域名将会是127.0.0.1/test/login/static/style.css。所以当要引用根目录下的静态文件时，href前的单斜杠是必须要的 -->
{%block stylesheet%}
<link rel="stylesheet" type="text/css" href=""/>
{%endblock%}
{%block content%}
    <div id="allcontent">
        <div class="course_manage">
            <div class="manage_info center">
                <div class="manage_info_title f_left">我的课程</div>
                <div class="manage_info_desc f_left">欢迎上传课程与人分享！送人玫瑰，手有余香~<span style="color:red"> 注意：请勿上传黄色、暴力、反党、反人类、盗版、非教育类等违法乱纪内容</span></div>
            </div>
            <div id="content_center" class="center">
                    <div class="manage_nav">
                        <div class="manage_menu">
                             <ul>
                                <li class="m_create" onclick="create('/course/new')">新建</li>
                                <li class="m_audit" onclick="audit('/course/audit')">提交审核</li>
                                <li class="m_edit">编辑</li>
                                <li class="mc_delete" onclick="deleteItems('/course/del')">删除</li>
                            </ul>
                            </div>
                </div>
                <div class="course_display">
                    <div class="course_table">
                        <table>
                            <tr class="tr_title">
                                <th class="td_checkbox"><input type="checkbox" name="all_check" class="all_check"></th>
                                <th class="td_title">课程名称</th>
                                <th class="td_title">预览图片地址</th>
                                <th class="td_title">创建日期</th>
                                <th class="td_title">状态</th>
                                <th class="td_title">创建者</th>
                            </tr>
                            {% for course in courses %}
                            <tr>
                                <td><input type="checkbox" name="item_{{ course.id }}" class="single_check" value="{{ course.id }}"></td>
                                <td><a href="/course/manage/{{ course.id }}"> {{course.title}} </a></td>
                                <td class="cm_course_url"><span class="pic_url">{{ course.item_image }}</span></td>
                                <td class="create_date">{{ course.str_create_date }}</td>
                                <td id="status_{{course.id}}" value="{{course.status}}"> {{course.get_status_text() }} </td>
                                <td class="cm_username"> {{course.users.name}} </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="pageSelect contentPage">
                    {% if pageseq %}
                    <a href="#" class="pbtn pnav disabled" id="pageLast">< 上一页</a>
                    {% for i in pageseq %}
                        {% if i == 1 %}
                            <a href="#" class="pbtn pagenum pageSelected">{{ i }}</a>
                        {% elif i == "..." %}
                            <a href="#" class="pbtn pagenum disabled">{{ i }}</a>
                        {% else %}
                            <a href="#" class="pbtn pagenum">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    <a href="#" class="pbtn pnav" id="pageNext">下一页 ></a>
                {% endif%}
                </div>
                </div>

            </div>

        </div>
        <div class="low_layer for_close">
            
        </div>

    </div>
{%endblock%}