{% extends "base.html"%}
{%block title%}
课时管理
{%endblock%}
    <!-- href="/static/style.css" 表示网站根目录下的文件 -->
    <!-- href="static/style.css" 表示网站当前域名下的文件，比如当前域名是127.0.0.1/test/login/, 网页检索静态文件是的域名将会是127.0.0.1/test/login/static/style.css。所以当要引用根目录下的静态文件时，href前的单斜杠是必须要的 -->
{%block stylesheet%}
<link rel="stylesheet" type="text/css" href=""/>
{%endblock%}
{%block content%}
    <div id="allcontent">
        <div class="course_manage" id={{ course.id}}>
            <div class="manage_info center">
                <div class="mi_nav"><a href="/course/manage">我的课程</a> > 课时管理</div>

                <div class="item_image f_left">
                    <div class="ii_image f_left"><img src="{{ course.item_image}}"></div>
                    <div style="overflow: hidden;line-height: 30px;">
                        <div class="lesson_info_title f_left" id={{ course.id}}>课程名：{{course.title}}</div>
                        <div class="course_status f_right">
                            <div class="f_right" style="margin-left: 10px;">状态：{{ course.get_status_text() }}</div>
                            <div class="f_right" >分类：{{level1}}{{level2}}</div>
                        </div>
                    </div>
                    <div style="line-height: 14px;"><span style="color:red;font-size: 12px;"> 注意：请勿上传黄色、暴力、反党、反人类、盗版、非教育类等违法乱纪内容</span></div>
                    <hr>
                    <div class="c_desc f_left">课程介绍：<br>{{ course.description}}</div>
                </div>
                    
            </div>
            <div id="content_center" class="center">
                    <div class="manage_nav">
                        <div class="manage_menu">
                             <ul>
                                <li class="m_create" onclick="create('/lesson/new')">新建</a></li>
                                <li class="v_edit">编辑</li>
                                <li class="mv_delete" onclick="deleteLesson('/lesson/del')">删除</li>
                            </ul>
                            </div>
                </div>
                <div class="course_display">
                    <div class="course_table">
                        <table>
                            <tr class="tr_title">
                                <th class="td_checkbox"><input type="checkbox" name="all_check" class="all_check"></th>
                                 <th class="td_title">序号</th>
                                <th class="td_title">视频名称</th>
                                <th class="td_title">视频描述</th>
                                <th class="td_title">视频地址</th>
                                <th class="td_title">视频时长</th>
                                <th class="td_title">创建者</th>
                                <th class="td_title">状态</th>
                                <th class="td_title">上传时间</th>
                            </tr>
                            {% for lesson in lessons %}
                            <tr>
                                <td><input type="checkbox" name="item_{{ lesson.id }}" value="{{ lesson.id}}" class="single_check" value="{{ lesson.id}}"></td>
                                <td>{{ lesson.order }}</td>
                                <td>{{ lesson.title }}</td>
                                <td><div class="l_desc">{{ lesson.description }}</div></td>
                                <td><a href="{{ lesson.video_url }}">点击播放</a></td>
                                <td>{{ lesson.duration }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ lesson.get_status_text() }}</td>
                                <td>{{ lesson.str_create_date }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="low_layer for_close">
            

        </div>
    </div>
{%endblock%}